@import url("https://fonts.googleapis.com/css2?family=Jersey+25&family=Pacifico&display=swap");

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    --largura: 1000px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #deffe7;
}

header {
    background-color: rgb(252, 0, 206);
    max-width: var(--largura);
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* header #logo {
    height: 100px;
    width: 300px;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
} */

/* header #logo img {
    max-width: 100%;
} */

header #banner {
    height: 100px;
    width: 100%;
    background-image: url("img/barca_2022.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #banner h4 {
    color: white;
    background-color: rgba(0, 0, 0, 0.699);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

nav {
    background-color: rgb(97, 199, 253);
    max-width: var(--largura);
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: start;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #333333;
}

nav ul li a:hover {
    background-color: #00ff66;
    color: white;
}

main {
    max-width: var(--largura);
    margin: 0 auto;
}

footer {
    max-width: var(--largura);
    margin: 0 auto;
    display: flex;
}

footer div:first-child {
    width: 20%;
}

footer div:last-child {
    width: 80%;
}

footer ul {
    display: flex;
    justify-content: end;
    list-style: none;
}

footer ul li a {
    padding: 0.5rem;
    color: #666666;
}

#slider img {
    width: 100%;
    aspect-ratio: 3 / 1;
    object-fit: cover;
}

section {
    margin-bottom: 4rem;
}


section h2 {
    padding-bottom: 0.5rem;
    border-bottom: 5px solid  #00ff66;
    font-family: "Pacifico", sans-serif;
}

section .conteudo {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

section .conteudo .imagem {
    flex: 0 0 33%;
}

section .conteudo .imagem img {
    max-width: 100%;
}

/* #galeria .conteudo {
    flex-wrap: wrap;
}

.galeria-item {
    flex: 0 0 calc(25% - 0.75rem);
}

.galeria-item .titulo h4 {
    text-align: center;
    color: #333;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.galeria-item .imagem img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    transition: 0.5s;
} */
/* 
.galeria-item:hover .imagem img {
    transform: scale(1.2);
    filter: opacity(0.7) grayscale(1);
    transition: 0.5s;
}
*/
/* #galeria:has(.galeria-item:hover) .galeria-item:not(:hover) img {
    transform: scale(0.9);
    filter: opacity(0.7) grayscale(1);
    transition: 0.5s;
}

#galeria .galeria-item:hover .imagem img {
    transform: scale(1.1);
    transition: 0.5s;
}
 */
#contactos .conteudo div {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

input,
textarea {
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

input:not([type="submit"]),
textarea {
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
}

input:focus-within,
textarea:focus-within {
    box-shadow: 0 0 10px 5px #ccc;
}

button{
    color: rgb(2, 2, 2);
    background-color: #00ff66;
    border: solid 0.5px #00ff66 ;
    border-radius: 20px;
    width: 100px;
    height: 30px;

    cursor: pointer; 
     
}

#btg01 {
   
    position: absolute;
    top: 135%;
    left: 60%;
    transform: translate(-50%, -50%);
  }


  #btg02 {
   
    position: absolute;
    top: 180%;
    left: 60%;
    transform: translate(-50%, -50%);
  }


  #btg03 {
   
    position: absolute;
    top: 212%;
    left: 60%;
    transform: translate(-50%, -50%);
  }


  #btg04 {
   
    position: absolute;
    top: 250%;
    left: 60%;
    transform: translate(-50%, -50%);
  }


  #btg05 {
   
    position: absolute;
    top: 290%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
